/* nextflow.config file
* Place this file in $HOME/.nextflow/config
* In theory, nextflow should read this for the basic YARCC settings (minimum).
* Individual analysis may need it's own nextflow.config file (e.g. for more memory)
*/

process {
  executor = 'sge'
  memory = '2G'
  time = '1h'
  clusterOptions = '-cwd -V -l h_vmem=2G,h_rt=00:01:00'
  scratch = '/scratch'
}
